<h1>Presentations</h1>

<ul>
  <li>
    {{#link-to 'presentations.demo'}}
      <h2>Reveal.js Demo</h2>
      {{reveal-embedded-presentation url='/presentations/demo'}}
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'presentations.tacos'}}
      <h2>Tacos</h2>
      {{reveal-embedded-presentation url='/presentations/tacos'}}
    {{/link-to}}
  </li>
</ul>