{{#reveal-presentation theme='ember'}}
  {{#reveal-slide}}
    <h1>Tacos</h1>
    <h3>They are truly delicious</h3>
    <p>
      <small>Palindromed by <em>TACOCAT</em></small>
    </p>
    {{#reveal-slide-notes}}
      - Usual intro
      - Hilarious story about eating tacos
    {{/reveal-slide-notes}}
  {{/reveal-slide}}

  {{#reveal-slide}}
    <h1>Code</h1>
    {{#reveal-code language="ruby"}}
  def create_hits
    @annie = Annie.new options[:env]
    setup_rturk
    links = File.readlines(options[:file])
    links = links.take(options[:limit]) if options[:limit]

    links.each do |event_url|
      create_hit_from_event_url event_url.gsub(/\s+/, ""),
                                options[:reward],
                                options[:max_assignments],
                                options[:approval_rate]
    end
  end
    {{/reveal-code}}
  {{/reveal-slide}}

  {{#reveal-slide hasMarkdown=true}}
    <p>Have you ever eaten a taco?</p>
    ### Things to think about

    - meat
    - shell
    - how many
  {{/reveal-slide}}
  {{#reveal-slide}}
    {{#reveal-slide}}
      <p>They are really good</p>
    {{/reveal-slide}}

    {{#reveal-slide}}
      As evidenced
    {{/reveal-slide}}

    {{#reveal-slide}}
      As evidenced by
    {{/reveal-slide}}

    {{#reveal-slide}}
      As evidenced by
      <ul>
        <li class='fragment'>deliciousness</li>
        <li class='fragment'>variety</li>
        <li class='fragment'>taconess</li>
      </ul>
    {{/reveal-slide}}
  {{/reveal-slide}}

  {{#reveal-slide}}
    Yum
  {{/reveal-slide}}
{{/reveal-presentation}}